input {
  padding: 6 12 6 12;
  border: 1px solid #665544;
  color: #ffffff;
}

input.submit:hover {
  background-color: #665544;
}

input.submit:active {
  background-color: chocolate;
}

input.text {
  color: #cccccc;
}

input.text:focus {
  color: #665544;
}
